body {
	font-size: 14px;
	font-family: 'Courier New', Courier, monospace;
}

terminal {
	border: 2px solid #ccc;
	background: #222;
	color: #eee;
	width: 700px;
	height: 500px;
	margin: 20px auto;
	display: block;
	overflow: auto;
	padding: 5px;
}

output {
	width: 100%;
	display: block;
}

inputfield {
	display: block;
	clear: left;
	width: 100%;
}

prefix {
	display: block;
	float: left;
	margin-right: 5px;
}

inputholder {
	display: block;
	overflow: hidden;
	height: 17px;
	background-repeat: no-repeat;
}

input#read {
	width: 100%;
	margin:0;
	padding:0;
	border: 0;
	font-size: 14px;
	font-family: 'Courier New', Courier, monospace;
	
}

inputfield span {
	margin-left: 10px;
}

.folder {
	color: #66bbff;
}
