body {
	font-size: 14px;
	font-family: 'Courier New', Courier, monospace;
	margin: 0;
}

pre {
	font-size: 14px;
	font-family: 'Courier New', Courier, monospace;
	margin: 0;
}

header {
	display: block;
	width: 700px;
	margin: 0 auto;
}

header a {
	color: #222;
	float: right;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.2em;
	margin-top: 30px;
}

terminal {
	display: block;
	width: 690px;
	height: 490px;
	background: #222;
	color: #eee;
	padding: 5px;
	overflow: auto;
}

#frameTerminal {
	border-top: 2px solid #ccc;
	border-left: 2px solid #ccc;
	border-bottom: 2px solid #444;
	border-right: 2px solid #444;
	width: 700px;
	height: 500px;
	margin: 0 auto 20px auto;
	display: block;
	padding: 0;
}

output {
	width: 100%;
	display: block;
}

inputfield {
	display: block;
	clear: left;
	width: 100%;
}

prefix {
	display: block;
	float: left;
	margin-right: 5px;
}

inputholder {
	display: block;
	overflow: hidden;
	height: 17px;
	background-repeat: no-repeat;
}

inputfield span {
	margin-right: 10px;
}

.folder {
	color: #66bbff;
}

#floatBackground {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
}

#floatText {
	display: block;
	width: 500px;
	height: 300px;
	margin: 100px auto 0 auto;
}

#loadDriveString {
	display: block;
	width: 200px;
	height: 30px;
	margin: 20px auto;
}

menu {
	text-align: center;
	margin: 0;
}

input {
	border: 0;
	background: #222;
	padding: 3px 10px;
	margin: 0 5px;
	color: #eee;
	border-top: 2px solid #ccc;
	border-left: 2px solid #ccc;
	border-bottom: 2px solid #444;
	border-right: 2px solid #444;
	cursor: pointer;
}

.appMenu {
	margin-top: 20px;
	text-align: center;
}
